<meta charset="UTF-8">
<title>{% block title %}Welcome!{% endblock %}</title>

<link rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}"  crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% block stylesheets %}{% endblock %}
</head>
    <nav>
        <div class="navbar">
            <ul class="nav"> 
                <li id="logo-nav">
                    <a class="nav-link active" href="#">
                        <img class="logo-nav" alt="logo destiny 2" src="{{ asset('img/logo.png') }}">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                <li class="user-account">
                    {% dump(app.session) %}
                    {% if displayName is defined %}
                    <a href="https://www.bungie.net/fr/OAuth/Authorize?client_id=31249&response_type=code">
                        <i class="fas fa-user-alt fa-2x"></i>
                        <span>{{ displayName }}</span>
                    </a>                    
                    {% else %}                
                    <a href="https://www.bungie.net/fr/OAuth/Authorize?client_id=31249&response_type=code">
                        <i class="fas fa-user-alt fa-3x"></i>
                    </a>
                    {% endif %}     
                </li>
            </ul>
        </div>
    </nav>
<body>
    <div class="background-image">
        <img class="home-background" src="img/home_background.jpg" alt="image de fond destiny 2">
    </div>
</body>

{% block body %}

{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src=" {{ asset('js/generique.js') }}"></script>

{% block javascripts %}{% endblock %}